<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Cropper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.css" />
  <!-- Static Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">

  <title>수박 게임 만들기</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        수박게임만들기
      </a>
    </div>
  </nav>

  
  <div class="base mt-5">
    <div class="photo_box">
      <div class="upload_btn">
        <div class="upload">
          <input type="file" name="photoBtn" accept="image/jpeg, image/png" capture="camera" id="photoBtn"><label for="photoBtn">사진 첨부하기</label>
        </div>
        <a href="javascript:void(0);" id="resetPhoto">초기화하기</a>
      </div>
      <div class="photo_them">
        <canvas id="canvas" class="them_img">
          Your browser does not support the HTML5 canvas element.
        </canvas>
      </div>
      <a href="javascript:void(0);" id="complete">업로드</a>
    </div>
    <div id="result"></div>
  </div>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script rel="stylesheet" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>